# Pin configuration for MHX Ternary ALU
# Copyright 2025 MHX Neural.
# Defines pin placement order for OpenLane flow

# Priority order for pin placement
# Format: signal_name direction

# Clock and control signals (highest priority)
clk_i input

# Data inputs 
operand_a_i[31] input
operand_a_i[30] input
operand_a_i[29] input
operand_a_i[28] input
operand_a_i[27] input
operand_a_i[26] input
operand_a_i[25] input
operand_a_i[24] input
operand_a_i[23] input
operand_a_i[22] input
operand_a_i[21] input
operand_a_i[20] input
operand_a_i[19] input
operand_a_i[18] input
operand_a_i[17] input
operand_a_i[16] input
operand_a_i[15] input
operand_a_i[14] input
operand_a_i[13] input
operand_a_i[12] input
operand_a_i[11] input
operand_a_i[10] input
operand_a_i[9] input
operand_a_i[8] input
operand_a_i[7] input
operand_a_i[6] input
operand_a_i[5] input
operand_a_i[4] input
operand_a_i[3] input
operand_a_i[2] input
operand_a_i[1] input
operand_a_i[0] input

operand_b_i[31] input
operand_b_i[30] input
operand_b_i[29] input
operand_b_i[28] input
operand_b_i[27] input
operand_b_i[26] input
operand_b_i[25] input
operand_b_i[24] input
operand_b_i[23] input
operand_b_i[22] input
operand_b_i[21] input
operand_b_i[20] input
operand_b_i[19] input
operand_b_i[18] input
operand_b_i[17] input
operand_b_i[16] input
operand_b_i[15] input
operand_b_i[14] input
operand_b_i[13] input
operand_b_i[12] input
operand_b_i[11] input
operand_b_i[10] input
operand_b_i[9] input
operand_b_i[8] input
operand_b_i[7] input
operand_b_i[6] input
operand_b_i[5] input
operand_b_i[4] input
operand_b_i[3] input
operand_b_i[2] input
operand_b_i[1] input
operand_b_i[0] input

# Operation select
operation_i[2] input
operation_i[1] input
operation_i[0] input

# Data outputs
result_o[31] output
result_o[30] output
result_o[29] output
result_o[28] output
result_o[27] output
result_o[26] output
result_o[25] output
result_o[24] output
result_o[23] output
result_o[22] output
result_o[21] output
result_o[20] output
result_o[19] output
result_o[18] output
result_o[17] output
result_o[16] output
result_o[15] output
result_o[14] output
result_o[13] output
result_o[12] output
result_o[11] output
result_o[10] output
result_o[9] output
result_o[8] output
result_o[7] output
result_o[6] output
result_o[5] output
result_o[4] output
result_o[3] output
result_o[2] output
result_o[1] output
result_o[0] output

# Status output
valid_o output